body {
    display: flex;
    justify-content: center;
    
    background-color: #f0f0f0;
}

#calc-container {
    background-color: grey;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 176px;
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
}

.window {
    border: 3px solid black;
    text-align: right;
    background-color: rgb(43, 36, 36);
    height: 24px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: #4CAF50;
    white-space: nowrap;
    overflow: hidden;
    transition: background-color 0.6s ease;
    padding: 4px;
    
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.col {
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgb(152, 152, 192);
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-family: 'VT323', monospace;
    font-size: 30px;
    border-color: black;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(76, 76, 168);
}

button:active {
    transform: scale(0.95);
}

/* This is the key: a single class on the container that affects both */
#calc-container.error {
    background-color: #7a0303 !important;
    box-shadow: 0 0 25px 8px red !important;
    
}

#calc-container.error .window {
    background-color: #7a0303 !important;
    color: white !important;
}
